   *{
    margin: 0;
    padding: 0;
   }
   .section {
  display: grid;
  grid-template-columns: 1fr; /* default: 1 column (mobile) */
  gap: 1rem;
  /* padding: 1rem; */
  background-color: white;
}

@media (min-width: 600px) {
  .section {
    grid-template-columns: repeat(2, 1fr); /* tablet: 2 columns */
  }
}

@media (min-width: 1024px) {
  .section {
    grid-template-columns: repeat(4, 1fr); /* desktop: 4 columns */
  }
}

.card {
  color: #000;
  position: relative;
  z-index: 2;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: -40px;
  background-color: white;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card h2 {
    font-size: 1.1rem;
  margin: 0.5rem 0 0.25rem;
  color: #000; 
}


.card img {
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  display: block; 
  margin: auto;
}

.card p {
  margin-top: auto;
  color: #0073e6;
  font-weight: bold;
}
