/* Results.module.css */
.resultsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 30px;
  background-color: #f9f9f9;
}

.heading {
  padding: 30px;
  font-size: 2rem;
  font-weight: bold;
}

.subheading {
  padding: 0 30px 30px 30px;
  font-size: 1.2rem;
  color: #333;
}
